{% extends 'test_app/base.html' %}

{% block title %}
<title>SWB - Home</title>
{% endblock %}

{% block homeContent %}
<h1 id="test">index page {{text}}</h1>
{% endblock %}

{% block commandBlock %}
<font size = "25" color = "purple"><h1 id="command"></h1></font>
{% endblock %}

{% block canvasBlock %}
<canvas class="visualizer" width="1000" height="200"></canvas>
{% endblock %}

{% block commandVisBlock %}
<canvas class="command_visualizer" width="500" height="500"></canvas>
{% endblock %}

{% block wsScript %}

<!-- ----------- --> <!-- ALTERNATIVE --><!-- ------------ -->
<!-- ------------ --><!-- ----------- --><!-- ------------ -->
<!-- ------------ --><!-- ----------- --><!-- ------------ -->

<script>

    'use strict';


    const heading = document.querySelector("h3");
    heading.textContent = "CLICK HERE TO START";
    document.body.addEventListener("click", init);
    var socket = new WebSocket('ws://localhost:8000/ws/some_url/');


    const context = new AudioContext({sampleRate: 16000,});

    async function init () {
        if (context.state === 'suspended') {
            await context.resume();
        }
        
        const micStream = await navigator.mediaDevices.getUserMedia({
            audio:  {
                //channelCount: 1,
                echoCancellation: false,
                autoGainControl: false,
                noiseSuppression: false,
                latency: 0,
            },
        });
        const micSourceNode = await context.createMediaStreamSource(micStream);

        const recordingProperties = {
            numberOfChannels: micSourceNode.channelCount,
            sampleRate: context.sampleRate,
            bufferLength: context.sampleRate,//Math.round((context.sampleRate/4)/128)*128 + 128,
            visualizeBufferLength: Math.round((context.sampleRate/8)/128)*128,
        };
        console.log(recordingProperties);
        
        const recordingNode = await setupRecordingWorkletNode(recordingProperties);

        console.log(recordingNode);

        micSourceNode
        .connect(recordingNode)
        //.connect(monitorNode)
        .connect(context.destination);
  
        const recordingCallback = handleRecording(recordingNode.port, recordingProperties);
        const visualizerCallback = visualizer(recordingNode.port);
        recordingNode.port.onmessage = (event) => {
            //console.log(event.data.inpgain);
            recordingCallback(event);
            visualizerCallback(event);
        };

        visCommandSetup();
        //var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
        /*const visCallBack = visCommandSetup()
        socket.onmessage = function(event){
            var data = JSON.parse(event.data);
            console.log(data);
            document.querySelector('#command').innerText = data.command;
        }
        */     
        
    }

    function sleep(ms){
        return new Promise(resolve => setTimeout(resolve,ms));
    }
/*
    connect = () => {
        return new Promise(
            function(resolve){
                var websocket = new WebSocket('ws://localhost:8000/ws/some_url/');
            }
        );
    }
*/

/*
    function foo(){
        return new Promise(
            function(resolve){
                var websocket = new WebSocket('ws://localhost:8000/ws/some_url/');
                websocket.onmessage = function(event){
                    var data = JSON.parse(event.data);
                    resolve({
                        data_: data
                    });
                }

            }
        );
    }
*/


    function handleRecording(recording_port, recording_properties){

        //let mfcc_array = new Array(81).fill(new Float32Array(128));
        //const transpose = matrix => matrix[0].map((col, i) => matrix.map(row => row[i]));

        const recordingEventCallback = async (event) => {
            /*
            if (event.data.message === "CONTINUE_CREATE_BUFFER"){
                //console.log(Meyda.extract("mfcc",event.data.sample));
                mfcc_array[event.data.mfcc_count] = Meyda.extract("mfcc", event.data.sample);
            }
            */
            if(event.data.message === "MAX_BUFFER_LENGTH" ){
                //mfcc_array[event.data.mfcc_count] = Meyda.extract("mfcc", event.data.sample);
                //console.log(event.data);
                socket.send(JSON.stringify({
                    message: event.data.message,
                    array: event.data.buffer_array[0],
                }));
                //tensor_arr = tf.tensor(transpose(mfcc_array)).print();
                //console.log(tensor_arr);

            }
            
            
            
        };
        return recordingEventCallback;
    }

    /**
     * Creates ScriptProcessor to record and track microphone audio.
     * @param {object} recordingProperties
     * @param {number} properties.numberOfChannels
     * @param {number} properties.sampleRate
     * @return {AudioWorkletNode} Recording node related components for the app.
     */
    async function setupRecordingWorkletNode(recordingProperties) {
        await context.audioWorklet.addModule('static/dj_app/js/recorder_worklet.js');

        const WorkletRecordingNode = new AudioWorkletNode(
            context,
            'recorder_worklet',
            {
                processorOptions: recordingProperties,
            },
        );

        return WorkletRecordingNode;
    }

    function visualizer(recording_port) {
        // Set up canvas context for visualizer
        const canvas = document.querySelector(".visualizer");
        const canvasCtx = canvas.getContext("2d");
        //const intendedWidth = document.querySelector(".wrapper").clientWidth;
        //canvas.setAttribute("width", intendedWidth);
        const width = canvas.width;
        const height = canvas.height;
        //let gain = 0;
        const visualizerEventCallback = async (event) => {
            //MAX_BUFFER_LENGTH MAX_VISUALIZER_BUFFER_LENGTH
            if(event.data.message === "MAX_VISUALIZER_BUFFER_LENGTH"){
                //gain = event.data.buffer_array[0];
                //console.log(event);
                draw(event);
            }
        };
        function draw() {
            try{
                //let line_height = 0;
                //let gain = 0;
                //let gain2 = 0;
                var gain = event.data.buffer_array[0];
                //gain2 = event.data.buffer_array[1];
                canvasCtx.fillStyle = "rgb(200,200,200)"; 
                canvasCtx.fillRect(0,0,width,height);
                canvasCtx.lineWidth = 32;
                //canvasCtx.strokeStyle = "rgb(255, 0, 0)";
                //let max = 2*Math.max(...gain);
                //let min = Math.abs(Math.min(...gain));
                //let max = gain.reduce((a,b) => Math.max(a,b), -Infinity);
                //console.log(max);
                for (let i = 0; i < 20; i++){
                    
                    let freq_val = (gain[i*64])*2;//*Math.exp(1/max);
                    let freq_height = Math.round((height/2) * freq_val);
                    canvasCtx.beginPath();
                    canvasCtx.strokeStyle = "rgb("+(255-i*12).toString()+", 0, "+(i*12).toString()+")";
                    canvasCtx.moveTo(i*64, height/2);
                    canvasCtx.lineTo(i*64, height/2-freq_height);
                    canvasCtx.closePath();
                    canvasCtx.stroke();
                    if(i === 19){
                        //console.log('trash');
                        gain = null;
                        freq_val=null;
                        freq_height=null;
                        //max=null;
                    };

                }
            } catch {
                gain = null;
                //freq_val=null;
                //freq_height=null; 
            }

            requestAnimationFrame(draw);
        }
        return visualizerEventCallback;
    }

    async function visCommandSetup(){
        const canvas = document.querySelector(".command_visualizer");
        const canvasCtx = canvas.getContext("2d");
        const width = canvas.width;
        const height = canvas.height;
        canvasCtx.fillStyle = "rgb(200,200,200)"; 
        canvasCtx.fillRect(0,0,width,height);
        canvasCtx.lineWidth = 32;
        let warr = [];
        let xCord = 0;
        let yCord = 0;
        let direction = 'right';
        let color_count = 0;
        let step = 5;

        for (let i = 1; i<=10000;i++){
            
            canvasCtx.fillStyle = "rgb("+(255-color_count*51).toString()+", 0, "+(color_count*51).toString()+")"; 
            if (direction === 'right'){
                if(xCord+step+width/5<=width){
                    xCord += step;
                    //console.log(xCord);
                }
            }
            if (direction === 'down'){
                if(yCord+step+height/5<=height){
                    yCord += step;
                }
            }
            if (direction === 'left'){
                if(xCord-step>=0){
                    xCord -= step;
                }
            }
            if (direction === 'forward'){
                if(yCord-step>=0){
                    yCord -= step;
                }
            }
            if (color_count >= 5){
                color_count = 0;
            } else{
                color_count ++;
            }
            
            canvasCtx.fillRect(xCord,yCord,width/5,height/5);
            

            //draw()

            await sleep(250);
            
            socket.onmessage = function(event){
                var data = JSON.parse(event.data);
                document.querySelector('#command').innerText = data.command;
                warr.push(data.command); 

            }

            if (warr[warr.length-1] != undefined){
                direction = warr[warr.length-1];
            }

            
        }
        /*
        function draw() {
            canvasCtx.fillStyle = "rgb("+(255-color_count*51).toString()+", 0, "+(color_count*51).toString()+")"; 
            if (direction === 'right'){
                if(xCord+step+width/5<=width){
                    xCord += step;
                    //console.log(xCord);
                }
            }
            if (direction === 'down'){
                if(yCord+step+height/5<=height){
                    yCord += step;
                }
            }
            if (direction === 'left'){
                if(xCord-step>=0){
                    xCord -= step;
                }
            }
            if (direction === 'forward'){
                if(yCord-step>=0){
                    yCord -= step;
                }
            }
            if (color_count >= 5){
                color_count = 0;
            } else{
                color_count ++;
            }
            
            canvasCtx.fillRect(xCord,yCord,width/5,height/5);

            requestAnimationFrame(draw);
        }
        */

    }

    

    

    
    
</script>
{% endblock %}

{% block styleBlock %}
<style>
.wrapper {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}
canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: -3px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.7), 0 3px 4px rgba(0, 0, 0, 0.7);
    }
</style>
{% endblock %}