{% extends '/home/koza/django-apps/testsite/templates/testsite/base.html' %}
{% block title %}
    <title>SWB - Sign in</title>
{% endblock %}
{% block loginbutton %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/login_form" class="btn btn-outline-primary btn-lg" tabindex="-1">Login</a>
</div>
{% endblock %}

{% block content %}
<div class="container-sm border p-5 bg-dark shadow-lg">
    <form class="row g-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-1">
                    <label for="inputEmail4" class="form-label text-primary"><strong>Email</strong></label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-1">
                    <label for="inputPassword4" class="form-label text-primary"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-1">
                    <button type="submit" class="btn btn-outline-primary btn-lg"><strong>Sign in</strong></button>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}